@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800&family=JetBrains+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Philosopher&display=swap');
*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:430px){
    header{
        width: 430px !important;
        height: 80px !important;
    }
    main{
        width: 425px !important;
        height: 1220px !important;
    }
    .h_c div{
        max-width: 430px !important;
    }
    .h_c img{
        width: 80px;
        height: 80px;
    }
    .h_c div a{
        font-size: 12px !important;
    }
    main{
        width: 430px !important;
    }
    .s_e_1 {
        width: 430px !important;
        height: 450px !important;  
    }
    .s_e_1 h1{
        font-size: 30px !important;
    }
    .e_p_c{
        height: 200px !important;
        width: 300px !important;

    }
    .e_p_c img{
        width: 120px !important;
        height: 65px !important;
        margin: 0px !important;
    }
    .a_s{
        width: 430px !important;
        height: 320px !important;
    }
    .a_simg{
        width: 90px !important;
        height: 90px !important;
        margin-top: 100px !important;
    }
    .a_s div p{
        font-size: 15px !important;
        width: 170px !important;
    }
    .a_s div h2{
        font-size: 30px !important;
        width: 170px !important;
    }
    .rdiv h3{
        font-size: 30px !important;
    }
    .r div img {
        width: 70px !important;
        height: 70px !important;
    }
    .r div p{
        font-size: 12px !important;
        width: 100px !important;
        text-align: center !important;
    }
    .d_c{
        width: 430px !important;
        height: 50px !important;
    }
    .d_c div{
        margin: 10px !important;
    }
    .d_c div p{
        font-size: 14px !important;
    }
    .d_c div img{
        width: 40px !important;
        height: 40px !important;
    }

}

main{
    width: 100%;
    height: 1540px;
    background-color: #181825;
}
header{
    width: 100%;
    height: 120px;
    background-color: #FAB387;
}
.h_c{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_links{
    display: flex;
    justify-content: space-between;
    
}
.h_c div{
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.h_c div a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
}

.s_e_1{
    width: 100%;
    height: 810px;
 background-color:#181825;
}
.s_e_1 div h1{
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


span{
    color: #fab387;
}

.e_p_c{
    width: 60%;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.e_p_c img {
    width: 400px;
    height: 230px;
}

.a_s{
    width: 100%;
    height: 419px;
    border-top: 4px #fab387 solid;
    border-bottom: solid 4px #fab387;
    display: flex;
    justify-content: space-between;
}

h2{
    width: 100%;
    height: 120px;
    display: flex;
    font-size: 64px;
    align-items: center;
    justify-content: center;
    color: white;
}

.a_s p {
    color: white;
    width: 460px;
    font-size: 24px;
    text-align: center;
}

.r h3 {
    width: 100%;
    height: 120px;
    display: flex;
    font-size: 64px;
    align-items: center;
    justify-content: center;
    color: white;
}

.r_f{
    width: 100%;
    height: 419px;
    display: flex;
    justify-content: space-between; 
}

.r_f h1 {
    width: 100%;
    height: 120px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.r_f p {
    margin-top:-20px;
    width: 150px;
    height: 50px;
    display: flex;
    font-size: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

.footer{
    background-color: #fab387;
    width: 100%;
    height: 100%;
}

.d_c{
    background-color: #fab387;
    width: 100%;
    height: 100%;
    display: flex;  
    justify-content: space-between;
}



.d_c div {
    width: 690px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.d_c a{
    text-decoration: none;
    color: #181825;
    font-size: 23px;
}

.d_c div a{
    text-decoration: none;
    color: #181825;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;

}